@media only screen and (min-width: 600px) and (max-width: 992px) {
  /* Navbar */
  .name {
    display: none;
  }
  /* Chứng chỉ - Giải thưởng */
  .certificate-item {
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px 20px 20px 0px;
    gap: 0px;
  }

  .img_1 {
    border-right: 1px solid orange;
    padding-right: 20px;
  }
  .img_3 {
    padding-right: 20px;
  }
  /* dự án */
  .project-wrapper {
    display: flex;
    gap: 20px;
    width: 100%;
  }
  .project-item {
    width: 32%;
  }
  .project-item h4 {
    font-size: 15px;
  }
  .project-item .time-line {
    font-size: 10px;
    gap: 0px;
    padding: 5px;
  }
  .project-item .time-line > div {
    padding: 5px;
  }

  .project-description > table > tbody > tr > td {
    padding: 4px;
  }
  .certificate-img {
    width: 100%;
  }
}
